html,body{
  height: 100%;
}
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  background: linear-gradient(180deg, rgba(0 , 35 , 175, 1) 0%, rgba(0 , 0 , 0, 1) 100%);
  color: #fff;
}